.App {
  height: 100vh;
  padding: 2%;
  box-sizing: border-box;
  margin: 0;
  background: #dbd9d9;
  display: grid; 
  grid-template-columns: 1fr 1fr;
}
.navbar {
  width: 90%;
  position: fixed;
  background: #757373;
  margin: 0% 3% 6% 3%;
  display: flex;
  justify-content: space-around;
}

.dogImg {
  height: 30vh;
  margin: 20px
}
.dogCard {
  padding: 16px;
  margin: 16px;
  border: inset;
  width: 42vw;
  height: 50vh;
  border-radius: 6%;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.8);
}
.dogBtn {
  background: #000;
  color: white;
  margin: 5px 12px;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.8);
}

.favList {
  grid-column: 2;
  width: 30vw;
  background: #454242;
  height: 80vh;
  position: fixed;
  overflow: scroll;
  top: 10vh;
  right: 50px;
}

.hidden {
  display: none;
}
.show {
  display: flex;
}

.dogList {
  grid-column: 1;
  margin-top: 60px;
}
.fav > img {
  width: 20vw;
}
.fav {
  margin: 16px;
}